.autocomplete-suggestions-wrapper {
  display: flex;
  flex-direction: column;
  width: 64%;
  height: 70%;
  align-items: center;
}

.autocomplete-suggestions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  border: 2px solid #ccc;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  overflow: scroll;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
.autocomplete-suggestion {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
}

.autocomplete-suggestion-thumbnail {
  width: 100px;
  height: 100px;
}

.autocomplete-suggestion-information {
  width: 100%;
  margin-left: 5em;
  text-align: left;
}

.autocomplete-no-suggestions {
  padding: 10px;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  background-color: transparent; /* Transparent background */
  width: 20px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  background: #d7dace;
  background-clip: padding-box;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .autocomplete-suggestions-wrapper {
    width: 79%;
  }

  .autocomplete-suggestion-thumbnail {
    width: 70px;
    height: 70px;
  }

  .autocomplete-suggestion-information {
    width: 100%;
    margin-left: 1em;
    text-align: left;
  }
}
