.inputSectionContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputField {
  font-size: 1.6rem;
  background-color: #333;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  outline: none;
  padding: 0.5rem;
}

.disabledInput {
  background-color: #4a4a4a;
  color: #b3b3b3;
  cursor: not-allowed;
}

.icon {
  margin-left: 0.5rem;
  position: relative;
}

.labelContainer {
  font-size: 1rem;
  padding-bottom: 0.2rem;
}

.tooltipText {
  visibility: hidden;
  width: 12rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 0.6rem;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -6rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.error {
  border: 0.2rem solid red;
}

.icon:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .inputSectionContainer {
    flex-direction: column;
  }
}
