.autocomplete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  height: 100vh;
}

.autocomplete-input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px;
}
.limit {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20px;
}

.autocomplete-input:focus {
  outline: none;
}

.autocomplete-suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 400px;
}

.autocomplete-suggestions li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-suggestions li:hover {
  background-color: #f2f2f2;
}

.autocomplete-suggestions img {
  height: 50px;
  margin-right: 10px;
}

.autocomplete-suggestions div {
  display: flex;
  flex-direction: column;
}

.autocomplete-suggestions div:first-child {
  font-weight: bold;
  font-size: 16px;
}

.autocomplete-suggestions div:last-child {
  font-size: 14px;
  color: #757373;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.autocomplete-suggestions li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.autocomplete-no-suggestions {
  font-size: 16px;
  color: #757373;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .autocomplete-input {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .autocomplete-suggestions {
    width: 100%;
    max-width: 100%;
  }
}
