@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

// $bg-color: rgb(4, 4, 4);
// $main-color: rgba(1,160,249);
// $txt-color: white;

// $box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$mobile-width: 600px;
$tablet-width: 1024px;

$header-height: 8rem;
$header-height-shrink: 5rem;
$border-radius: 30px;

$font-family: 'Poppins', sans-serif;
