@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

// colors
// https://imagecolorpicker.com/color-code/de5f10
// https://maketintsandshades.com/#DE5F10
$main-color-light: #eb9f70;
$main-color: #de5f10;
$main-color-dark: #85390a;

// breakpoints
$mobile-width: 600px;
$tablet-width: 1024px;

// values
$border-radius: 30px;

// fonts
$font-family: 'Poppins', sans-serif;
