.suggestion-item {
  display: flex;
  gap: 10px;
  padding: 10px 20px;

  // background-color: lightgreen;
  // border: 1px solid;

  // highlight colors
  &:hover {
    background-color: green;
  }

  &.selected {
    background-color: blue;
  }

  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.thumbnail {
  flex: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.details {
  flex: 4;
}
