@use '~/scss/' as *;

.suggestion-item {
  display: flex;
  gap: 10px;
  padding: 10px 20px;

  color: white;

  // highlight colors
  &:hover {
    background-color: $main-color-light-10;
    cursor: pointer;
  }

  &.selected {
    background-color: $contrast-color;
  }

  // description
  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;

    color: wheat;
  }
}

.thumbnail {
  flex: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.details {
  flex: 4;
}
