.suggestion-item {
  display: flex;
  gap: 10px;
  padding: 10px;

  background-color: lightgreen;
  border: 1px solid;

  // highlight colors
  &:hover {
    background-color: green;
  }

  &.selected {
    background-color: blue;
  }
}

.thumbnail {
  flex: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.details {
  flex: 4;
}
