@use '~/scss/' as *;

section {
  display: flex;

  // column
  @include tablet {
    flex-direction: column-reverse;
  }
}

.left {
  flex: 1;
  border: 1px solid black;
  // center sphere
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1.5;
  border: 1px solid black;
}

// necessary to solve issues with canvas not resizing
.sphere-container {
  width: 500px;
  height: 500px;
}
