#root {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.autocomplete-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #edf2fb;
}
