#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainPage {
  position: relative;
}

.limitInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 10vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
}

.autocompleteInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50vh;
}

.list {
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  max-height: 200px;
  margin: 0;
  padding-inline-start: 0px;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid #b1b0b0;
  border-radius: 0 0 4px 4px;
  border-top: none;
  overflow: hidden;
  left: 0;
  right: 0;
}

.list li:hover {
  background-color: #f2f2f2;
}
.list li.selected {
  background-color: #96ceec;
}

.list img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.inputs {
  display: flex;
  flex-direction: column;
}